body {

    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans;

}

.paint-content {

    float: left;

    width: 500px;

}

.active {

	background-color: red;

}

.row {

    overflow: hidden;

}

.row span {

    float: left;

    width: 20px;

    height: 20px;

    border: 1px solid #ddd;

}